%h1= @event.title
%h2 Listing workshops

%table
  %tr
    %th Title
    %th Description
    %th Slug
    %th
    %th
    %th

  - @workshops.each do |workshop|
    %tr
      %td= workshop.title
      %td= workshop.description
      %td= workshop.slug
      %td= link_to 'Show', workshop
      %td= link_to 'Edit', edit_event_workshop_path(@event,workshop)
      %td= link_to 'Destroy', workshop, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New workshop', new_event_workshop_path
