%p#notice= notice

%p
  %b Title:
  = @workshop.title
%p
  %b Description:
  = @workshop.description
%p
  %b Slug:
  = @workshop.slug

= link_to 'Edit', edit_workshop_path(@workshop)
\|
= link_to 'Back', workshops_path
