.btn-group.pull-right
	- if current_user && current_user.admin? then
		= link_to event_workshop_sync_path(@event,@workshop), :class=> 'btn' do
			%i.icon-refresh
			Sync etherpad
		= link_to edit_event_workshop_path(@event,@workshop), :class => 'btn' do
			%i.icon-edit
			Edit
		= link_to event_workshop_path(@event,@workshop), :method => :delete, 
			:data => { :confirm => "This will delete the event and all associated data"}, 
			:class => 'btn btn-danger' do
			%i.icon-remove
			Delete

%h1= @event.title

.socialmedia.pull-right
	%span.label.label-info
		= "#" + @event.slug
	&nbsp;
	%span.label.label-info
		= "#" + @workshop.slug

%h2
	= @workshop.title

.datetime
	%span.dtstart
	From :
	= @workshop.slot.dtstart.to_formatted_s(:short)
	&dash;
	%span.dtend
	To :
	= @workshop.slot.dtend.to_formatted_s(:short)
	&dash;
	%span.where
	In : 
	= @workshop.room.name

// = @workshop.description

/ %iframe{:width=>"100%", :height=>"600", :frameborder=>"no",
/ 	:src=>event_workshop_pad_url(@event,@workshop)}

%p= raw BlueCloth.new(@workshop.description).to_html

= link_to event_workshop_pad_url(@event,@workshop), 
	:target=>'_blank', :class => 'btn btn-primary' do
	%i.icon-edit
	Edit report

