
%p
  %b Title:
  = @workshop.title
%p
  %b Description:
  = @workshop.description
%p
  %b Slug:
  = @workshop.slug

= link_to 'Edit', edit_event_workshop_path(@event,@workshop)
\|
= link_to 'Back', event_schedule_path(@event)
