%h1= @event.title
%h2 Listing slots

%table
	%tr
		%th Dtstart
		%th Dtend
		%th
		%th
		%th

	- @slots.each do |slot|
		%tr
			%td= slot.dtstart
			%td= slot.dtend
			%td= link_to 'Show', event_slot_path(@event,slot)
			%td= link_to 'Edit', edit_event_slot_path(@event,slot)
			%td= link_to 'Destroy', [@event,slot], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Slot', new_event_slot_path
