
%p
  %b Dtstart:
  = @slot.dtstart
%p
  %b Dtend:
  = @slot.dtend
%p
  %b Event:
  = @slot.event

= link_to 'Edit', edit_event_slot_path(@event,@slot)
\|
= link_to 'Back', event_schedule_path(@event)
