%h1 Listing sessions

%table
  %tr
    %th Title
    %th Description
    %th Slug
    %th
    %th
    %th

  - @sessions.each do |session|
    %tr
      %td= session.title
      %td= session.description
      %td= session.slug
      %td= link_to 'Show', session
      %td= link_to 'Edit', edit_session_path(session)
      %td= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Session', new_session_path
