%h2
	Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, 
	:url => registration_path(resource_name), 
	:html => { :method => :put, :class => "form-horizontal", :multipart => true }) do |f|
	= devise_error_messages!

	.control-group
		= f.label :firstname, :class => 'control-label'
		.controls
			= f.text_field :firstname, :class=>"input-xlarge", :placeholder => "ex: John"

	.control-group
		= f.label :lastname, :class => 'control-label'
		.controls
			= f.text_field :lastname, :class=>"input-xlarge", :placeholder => "ex: Smith"

	.control-group
		= f.label :email, :class=>'control-label'
		.controls
			= f.email_field :email, :class=>"input-xlarge", :placeholder => "ex: john.smith@example.com"


	.control-group
		= f.label :password, :class=>'control-label'
		.controls
			= f.password_field :password, :autocomplete => "off"
			.help-inline (leave blank if you don't want to change it)

	.control-group
		= f.label :password_confirmation, :class=>'control-label'
		.controls
			= f.password_field :password_confirmation

	.control-group
		= f.label :current_password, :class=>'control-label'
		.controls
			= f.password_field :current_password
			.help-inline (we need your current password to confirm your changes)

	.control-group
		= f.label :avatar, :class => 'control-label'
		.controls
			= f.file_field :avatar

	.control-group
		.controls
			= f.submit "Update", :class=>'btn btn-primary'
			= link_to "Back", :back, :class => 'btn'

%h3 Cancel my account
%p
	Unhappy? 

=link_to "Cancel my account", 
	registration_path(resource_name), 
	:data => { :confirm => "Are you sure?" }, 
	:method => :delete, :class => 'btn btn-danger'
\.
