/= form_for([@event,@attendee], :url => event_attendee_path(@event,@attendee, :action=>:create),
= form_for([@event,@attendee], :url => {:controller => 'event_attendees', :action=>:create },
	:html => {:class => "form-horizontal"}) do |f|
	- if @attendee.errors.any?
		#error_explanation
			%h2= "#{pluralize(@attendee.errors.count, "error")} prohibited this event_attendee from being saved:"
			%ul
				- @attendee.errors.full_messages.each do |msg|
					%li= msg

	= f.hidden_field :event_id, :value => @event.id

	.control-group
		= f.label :user, :class => 'control-label' do
			Email
		.controls
			= select :attendee, :user_id, @users_not_attending.map{ |user| [user.name, user.id] }, {:include_blank => true}

	.control-group
		= f.label :comment, :class=>'control-label'
		.controls
			= f.text_area :comment, :class=>'input-xxlarge'

	.control-group
		.controls
			= f.submit 'Save', :class=>'btn btn-primary'
