- content_for :title do
	= @event.title + " : Attendees"

%h1= yield :title

.attendee-list.row
	- @attendees.each do |attendee|
		= render :partial => 'event_attendees/_card'

%br

- if current_user && current_user.admin?
	.btn_group.pull-right
		= link_to  new_event_attendee_path(@event), :class => 'btn' do
			%i.icon-user
			Add attendee

= render :partial => 'register_button'

