- content_for :title do
	= @event.title + " : Attendees"

%h1= yield :title

.attendee-list.row
	- @attendees.each do |attendee|
		.span2.attendee
			= link_to user_path(attendee.user) do
				.avatar= image_tag avatar_url(attendee.user,:medium)
			.name
				= link_to user_path(attendee.user) do
					%span.firstname
						= attendee.user.firstname
					%span.lastname
						= attendee.user.lastname
			.company
				= attendee.user.company
			.comment
				= attendee.comment
			- if current_user && current_user.admin?
				.actions
					.btn_group.pull-right
						= link_to event_attendee_path(@event,attendee), method: :delete, data: { confirm: 'Are you sure?' }, :class=> 'btn' do
							%i.icon-remove
							Unregister

%br

- if current_user && current_user.admin?
	.btn_group.pull-right
		= link_to  new_event_attendee_path(@event), :class => 'btn' do
			%i.icon-user
			Add attendee

= render :partial => 'register_button'

