- content_for :title do
	= @event.title + " : Attendees"

.btn_group.pull-right
	= link_to 'Add attendee', new_event_attendee_path(@event), :class => 'btn'

%h1= @event.title
%h2 Listing attendees

%table
	%tr
		%th Avatar
		%th Comment
		%th User
		%th

	- @event_attendees.each do |event_attendee|
		%tr
			%td
				= image_tag avatar_url(event_attendee.user)
			%td= event_attendee.comment
			%td= event_attendee.user.email
			%td
				.btn-group.pull-right
					= link_to 'Show', user_path(event_attendee.user)
					= link_to 'Edit', edit_event_attendee_path(@event,event_attendee)
					= link_to 'Destroy', event_attendee_path(@event,event_attendee), method: :delete, data: { confirm: 'Are you sure?' }

%br

= render :partial => 'register_button'

