%p#notice= notice

%p
  %b Comment:
  = @event_attendee.comment
%p
  %b User:
  = @event_attendee.user
%p
  %b Event:
  = @event_attendee.event

= link_to 'Edit', edit_event_attendee_path(@event_attendee)
\|
= link_to 'Back', event_attendees_path
