- if current_user && current_user.admin? then
	.btn-group.pull-right
		=link_to edit_user_path(@user), :class => 'btn' do
			%i.icon-edit
			Edit user


%h1
	= @user.firstname 
	= @user.lastname 

.avatar
	= image_tag avatar_url(@user,:medium)

%h2 Attending on
%ul
	- @user.events.each do |event|
		%li
			= link_to event.title, event_path(event)
			- workshops = @user.workshops.where('event_id = ?',event)
			- if workshops.empty? || workshops.size < 1 then
			- else
				\: 
				- workshops.map do |workshop|
					= link_to workshop.title, event_workshop_path(event,workshop)
				- .join(',')
