= form_for(@event, :html => {:class => "form-horizontal"}) do |f|
	- if @event.errors.any?
		#error_explanation
			%h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
			%ul
				- @event.errors.full_messages.each do |msg|
					%li= msg

	.control-group
		= f.label :title, "Title", :class=>"control-label"
		.controls
			= f.text_field :title, :class=>"input-xxlarge", :placeholder => "My Super event"

	.control-group
		= f.label :slug, "Slug", :class=>"control-label"
		.controls
			= f.text_field :slug, :class=>"input-xxlarge", :placeholder => "a-slug-example"
			.help-inline a unique keyword to describe the event

	.control-group
		= f.label :description, "Description", :class=>"control-label"
		.controls
			= f.text_area :description, :class=>"input-xxlarge"

	.control-group
		= f.label :dtstart, "Starting date and time", :class=>"control-label"

		.controls
			= f.datetime_select :dtstart, :minute_step => 15

	.control-group
		= f.label :dtend, "Ending date and time", :class=>"control-label"

		.controls
			= f.datetime_select :dtend, :minute_step => 15

	.actions
		= f.submit 'Save'
