%h1 All events

.row
	%table.event-index.span8
		%tr
			%th Title
			%th Status
			%th Date start
			%th Date end
			%th

		- @events.each do |event|
			%tr
				%td
					= link_to event.title, event, :class=>'btn btn-link'
				%td
					- if event.past? then
						%span.label Past
					- elsif event.current? then
						%span.label.label-warning Active
					- else 
						%span.label.label-info Upcoming


				%td= event.dtstart.to_formatted_s(:short)
				%td= event.dtend.to_formatted_s(:short)
				%td.btn-group
					= link_to '', edit_event_path(event), :class=>"btn btn-mini icon-edit"
					= link_to '', event, method: :delete, :class => "btn btn-mini btn-danger icon-remove", 
						data: { confirm: "Are you sure to delete event '#{event.title}' ?" }

%br

= link_to 'New Event', new_event_path, :class=>"btn"
