%h1 Listing events

%table
	%tr
		%th Title
		%th Date start
		%th Date end

	- @events.each do |event|
		%tr
			%td
				= link_to event.title, event
				= link_to '', edit_event_path(event), :class=>"btn btn-small icon-edit"
				= link_to '', event, method: :delete, :class => "btn btn-small icon-remove", data: { confirm: 'Are you sure?' }
			%td= event.dtstart
			%td= event.dtend

%br

= link_to 'New Event', new_event_path, :class=>"btn"
