%h1= @event.title
%h2 Schedule

%div
	%table.session-table
		%tr
			%th Slots \ Rooms
			- @rooms.each do |room|
				%th= room.name
			%td= link_to "Add room", new_event_room_path(@event), :class => 'btn small'
		%tr
			- @slots.each do |slot|
				%th= slot.dtstart
				- @rooms.each do
					%td FIXME: CREATE ETHERPAD
		%tr
			%td= link_to "Add slot", new_event_slot_path(@event), :class => 'btn small'

	Rooms: 
	= @rooms.size

	Slots: 
	= @rooms.size
