- content_for :title do
	= @event.title + " : Presentation"

.btn-group.pull-right
	- if current_user && current_user.admin? then
		= link_to edit_event_path(@event), :class => 'btn' do
			%i.icon-edit
			Edit
		= link_to @event, :method => :delete, 
			:data => { :confirm => "This will delete the event and all associated data"}, 
			:class => 'btn btn-danger' do
			%i.icon-remove
			Delete

%h1= @event.title

.socialmedia.label.label-info.pull-right
	= "#" + @event.slug

.datetime
	From :
	%span.dtstart= @event.dtstart.to_formatted_s(:short)
	&dash;
	To :
	%span.dtend= @event.dtend.to_formatted_s(:short)

%p= raw BlueCloth.new(@event.description).to_html

= render :partial => 'event_attendees/register_button'

