%h1= @event.title
%h2 Schedule

%div
	%table.workshop-table
		%tr
			%th.desc Slots \ Rooms
			- @rooms.each do |room|
				%th 
					= room.name
					- if current_user && current_user.admin? then
						= link_to "", event_room_path(@event,room), :method => :delete, :class => 'btn small icon-remove'
			- if current_user && current_user.admin? then
				%td= link_to "Add room", new_event_room_path(@event), :class => 'btn small'
		- @slots.each do |slot|
			%tr
				%th
					= slot.dtstart
					- if current_user && current_user.admin? then
						= link_to "", event_slot_path(@event,slot), :method => :delete, :class => 'btn small icon-remove'

				- @rooms.each do |room|
					%td 
						- workshop = room.workshops.where(:slot_id => slot.id,:room_id=>room.id).first
						- if workshop.nil?
							- if current_user && current_user.admin? then
								= link_to "Create workshop", 
									new_event_workshop_path(@event,:room_id=>room.id,:slot_id=>slot.id),
									:class => 'btn small'
							- else
								No workshop (yet!)
						- else
							= link_to "#{workshop.title} ##{workshop.slug}", File.join(ETHERPAD_URL,'p',"#{@event.slug}_#{workshop.slug}")
		- if current_user && current_user.admin? then
			%tr
				%td= link_to "Add slot", new_event_slot_path(@event), :class => 'btn small'

