- content_for :title do
	= @event.title + " : Presentation"


%h1= @event.title

.socialmedia.label.label-info.pull-right
	.icon-tag
	= @event.slug

.datetime
	From :
	%span.dtstart= @event.dtstart.to_formatted_s(:short)
	&dash;
	To :
	%span.dtend= @event.dtend.to_formatted_s(:short)

%p= raw BlueCloth.new(@event.description).to_html

= render :partial => 'events/admin_actions'
= render :partial => 'event_attendees/register_button'

