%p#notice= notice

%h1= @event.title
%h2= "#" + @event.slug

%div
	From:
	%span.dtstart= @event.dtstart
	\- To:
	%span.dtend= @event.dtend

%p= raw RedCloth.new(@event.description).to_html

- if current_user && current_user.admin? then
	= link_to 'Edit', edit_event_path(@event), :class => 'btn'
	= link_to 'Back', events_path, :class => 'btn'
