%h1= @event.title
%h2 Schedule

%div
	%table.session-table
		%tr
			%th.desc Slots \ Rooms
			- @rooms.each do |room|
				%th= room.name
			- if current_user && current_user.admin? then
				%td= link_to "Add room", new_event_room_path(@event), :class => 'btn small'
		- @slots.each do |slot|
			%tr
				%th= slot.dtstart
				- @rooms.each do |room|
					%td= link_to "Etherpad", File.join(ETHERPAD_URL,'p',"#{@event.slug}_#{room.name}_#{slot.id}")
		- if current_user && current_user.admin? then
			%tr
				%td= link_to "Add slot", new_event_slot_path(@event), :class => 'btn small'

