.sidebar.span3
	.well.sidebar-nav
		%ul.nav.nav-list
			%li.nav-header= t('layout.sidebar.currentevent')
			%li
				%span
					%i.icon-home
					= link_to t('layout.sidebar.presentation'), root_url
			%li
				%span
					%i.icon-user
					= link_to t('layout.sidebar.attendees'), featured_attendees_url
			%li
				%span
					%i.icon-calendar
					= link_to t('layout.sidebar.schedule'), featured_schedule_url
			%li
				%span
					%i.icon-camera
					= link_to t('layout.sidebar.mediastream'), featured_media_url

	/
		.well.sidebar-nav
			%ul.nav.nav-list
				%li.nav-header Special features
				%li= link_to "Documents", "#"
				%li= link_to "References", "#"

	- if current_user && current_user.admin? then
		.well.sidebar-nav.admin
			%ul.nav.nav-list
				%li.nav-header Admin
				%li= link_to "Settings", events_url
				%li= link_to "Events", events_url
				%li= link_to "Users", users_url
	
	- if content_for? :sidebar_sponsors then
		.well.sidebar-nav
			%ul.nav.nav-list
				%li.nav-header Sponsors
				= yield :sidebar_sponsors
