= form_for([@event,@workshop,@attendee], :url => {:controller => 'workshop_attendees', :action=>:create },
	:html => {:class => "form-horizontal"}) do |f|
	- if @attendee.errors.any?
		#error_explanation
			%h2= "#{pluralize(@attendee.errors.count, "error")} prohibited this workshop_attendee from being saved:"
			%ul
				- @attendee.errors.full_messages.each do |msg|
					%li= msg

	.control-group
		= f.label :user, :class => 'control-label' do
			Email
		.controls
			= select :attendee, :user_id, @users_not_attending.map{ |user| [user.name, user.id] }, {:include_blank => true}

	.control-group
		.controls
			= f.submit 'Save', :class=>'btn btn-primary'
