%h1 Listing attendees

%table
  %tr
    %th Comment
    %th User
    %th Workshop
    %th
    %th
    %th

  - @attendees.each do |attendee|
    %tr
      %td= attendee.comment
      %td= attendee.user.name
      %td= attendee.workshop.title
      %td= link_to 'Destroy', event_workshop_attendee_path(@event,@workshop,attendee), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Workshop attendee', new_event_workshop_attendee_path(@event,@workshop)
